/* .accountInfoHeading{
    font-size: 13px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */

.main-frame{
  overflow: visible;
  padding: 0 24px 48px 24px;
}

.text-input {
  position: relative;
  margin-top:24px;
  margin-bottom: 20px;
}

.text-input .label {
  position: absolute;
  top: 8px; /* Initial position on top of the input */
  left: 8px;
  color: #757575;
  font-size: 1.2em;
  transition: 0.3s ease; /* Smooth transition for label movement */
  pointer-events: none;
}

.email {
  font-size: 1em;
  font-weight: 300;
  color: #202020;
  border: none;
  padding: 8px 0;
  width: 100%;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #757575;
}

input:focus + .label{
  transform: translate(-10px,-100%);
  color: #202020;
}

input:focus{
  border-bottom: 2px solid #202020;
} 

.flexing{
  display: flex;
}
.gap{
  margin:8px;
}

.shop-select-label{
  display: block;
  font-size: 13px;
  color: #202020;
  padding: 10px;
}

.text-input select{
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 8px;
  margin: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #757575; 
  color: #202020;
  font-weight: 500;
  background-color: transparent;
  box-sizing: border-box;
}

.column{
  margin-bottom:15px;
}

.billing-address-picker {
  display: flex;
  align-items: center;
  gap: 8px; /* Add some space between the checkbox and the label */
  margin-top:24px; /* Optional, to give some spacing from other elements */
}

/* Style for the checkbox */
.billing-address-picker input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border:1px solid #202020;
}

.billing-address{
  color:#202020;
  font-weight: 300;
  margin-left: 17px;
  align-self: flex-end;
}

#expiry{
  font-size: 14px;
  position: relative;
  top:30px;
}

.mobile-btny{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 24px;
  width: 100%;
  background-color: #172C50;
  z-index: 10;
}

.cart-btny{
  color: white;
  padding: 20px;
  font-size: 15px;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.order-name{
  font-size: 13px;
  color: #202020;
  font-weight: 300;
  line-height: 24px;
}

#billed{
  display: none;
}

.Summary{
  margin-top: 18px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.lg-screen-polymer{
  display: none;
}


.shop-btn-container{
  display: none;
}

@media (min-width:765px) {
  .mobile-btny{
      display: none;
  }
  .form-container{
      display: flex;
  }

  .main-frame {
      margin: 0 auto;
      padding:52px 0px 52px 0px;
      max-width: 900px;
      overflow: hidden;
  }

  .payment{
      margin:0px 0px 0px 80px;
  }

  .lg-screen-polymer{
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;          /* Center horizontally */
      transform: translateX(-50%); /* Adjust to true center */
      margin: 0; /* Remove margins, no longer needed */
     }
 
     .shop-btn-container{
      display: block;
      margin-top:20px;
      position: relative;
      left:-15px;
     }

     .shop-btn{
      display: inline-block;
      box-sizing: border-box;
      border: 2px solid #000;
      background-color: #FFF;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 8px 44px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 0;
      outline: none;
     }  
   .heading-container{
      margin-bottom: 25px;
   }
}